.ant-layout{
  background: #fff;
}

.title {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
  margin-bottom: 0;
  line-height: 1.5;
}

.subtitle {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  padding: 0.5rem;
}

.parallelogram {
  width: 150px;
  height: 50px;
  transform: skew(-20deg);
  background: #333;
  color: #fff;
}

.item-title {
  width: 200px;
  height: 40px;
  position: relative;
  background: #333;
}
.item-title:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 20px solid white;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
}

.media-item{
    margin: 0 1rem;
    font-size: 1.3rem;
}
.about-list{
  list-style: none;
  padding-left: 1rem;
}
.about-item{
  font-weight: bold;
  width: 1rem;
}

.about-description{
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
}